@model WORLD_OF_DUEL_MASTERS.Models.DMCard

@{
    ViewData["Title"] = "Details";
    Layout="_UserLayout";
}
<br />
    <h1>@Html.DisplayFor(model => model.Name)</h1>


<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Set)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Set)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Civilization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Civilization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rarity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flavor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flavor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Illustrator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Illustrator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Civilization)
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Civilization)
            @Html.DisplayFor(model => model.Civilizations0)
            <br />
            @Html.DisplayFor(model => model.Civilizations1)

        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race)

            @Html.DisplayFor(model => model.Races0)
            <br />
            @Html.DisplayFor(model => model.Races1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CardsUser">Back to List</a>
</div>
